.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 19%;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(216, 190, 190, 0.6),
    rgba(185, 202, 152, 0.7)
  );
  z-index: -2;
}

@media (min-width: 769px) {
  .backdrop {
    display: none;
  }
}
