// this comment will not be include in the compiled css
/* However, this comment will be compiled into CSS, UNLESS, it in 'Compressed Mode'. */
/*! This  comment will be included even in compressed mode */

@import "variables.scss";

// .header {
//   background: $white;
//   // margin-bottom: 1.45rem;
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: space-around;
//   height: 4.3em;
// }

div#logo {
  margin-bottom: 10px;
}
div#shoppingbag {
  flex-direction: column;
  align-self: center;
  padding: 15px;
}
div#menu {
  align-self: center;
  padding: 15px;
}
a#close-icon {
  height: 50px;
  align-self: center;
  padding: 15px;
}
