
@import 'variables.scss';
main>button#explore {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 17px;
    background: radial-gradient(rgba(54, 120, 47, 0.63), rgba(54, 120, 47, 0.85));
    color: $txtLghtGrn;
    font-family: $Objktv;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    
    
  
}
h1 {
    margin: 0;
    font-family: $POSDI;
    font-weight: $fw_4;
    font-style: $fs_n;
    font-size: 95px;
    color: $txtBrwn;
}

h2{
    color: $txtGrn;
    font-family: $POSDI;
    font-style: $fs_i;
    font-size: 69px;
    font-weight: $fw_4;
    margin: 0;
}

h3 {
    color: $white;
    font-family: $POSDI;
    font-size: 53px;
    font-weight: 400;
    font-style: $fs_n;
    margin: 0;

}

div#landingText{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}

