body {
  // background-image: url(../images/landing_bg.jpg);
  // background-repeat: no-repeat;
  // background-size: 100%, 100%;
  // background: cornsilk;
  width: 100vw;
  margin: 0;
}
main {
    margin: 60px 0px 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
   // margin-top: 2rem;

}
